<nav class="navbar">
    <div class="navbar-container">

        <ul class="navbar-links" *ngIf="!loggedIn">
            <ng-container>
                <li>
                    <a routerLink="/home" routerLinkActive="active">Inicio</a>
                </li>
            </ng-container>
        </ul>

        <ul class="navbar-links" *ngIf="loggedIn">
            <ng-container>
                <li>
                    <a routerLink="/tienda" routerLinkActive="active">Tienda</a>
                </li>
                <li>
                    <a routerLink="/carrito" routerLinkActive="active">Carrito</a>
                </li>
                <li>
                    <a routerLink="/usuarios" routerLinkActive="active">Lista de Usuarios</a>
                </li>
                <li (click)="logout()">
                    <a routerLink="/home" routerLinkActive="active">Logout</a>
                </li>
            </ng-container>
        </ul>

        <div class="navbar-actions" *ngIf="loggedIn">
            <p>Estas logueado!</p>
        </div>

        <div *ngIf="!loggedIn" class="navbar-actions">
            <form class="navbar-login" (ngSubmit)="login()" #loginForm="ngForm">
                <input name="username" type="text" placeholder="Username" autocomplete="none"
                    [(ngModel)]="model.username">
                <input name="password" type="password" placeholder="Password" [(ngModel)]="model.password">
                <button type="submit">Login</button>
            </form>

            <button class="register-btn" routerLink="/register" routerLinkActive="active">Crear cuenta</button>
        </div>
    </div>
</nav>