<div class="store-container">
    <h2 class="store-title">Lista de Productos de la tienda de Marcos</h2>

    <div class="grid-layout">
        <dx-data-grid id="dataGridProductos" [dataSource]="datosProductos" [showBorders]="true" [width]="'65%'">

            <dxo-toolbar>
                <dxi-item name="groupPanel"></dxi-item>
                <dxi-item location="after">
                    <dx-button class="action-btn-primary" [text]="'Nuevo/Editar'" (onClick)="this.openDialog()">
                    </dx-button>
                </dxi-item>
                <dxi-item location="after">
                    <dx-button class="action-btn-danger" [text]="'Eliminar'" (onClick)="this.delete()">
                    </dx-button>
                </dxi-item>
            </dxo-toolbar>

            <dxo-selection mode="single" [allowSelectAll]="true">
            </dxo-selection>

            <dxi-column dataField="id" caption="Producto Id" sortOrder="asc" [visible]="false"></dxi-column>
            <dxi-column dataField="imagen" caption="Imagen" cellTemplate="cellTemplate"></dxi-column>
            <dxi-column dataField="nombre" caption="Nombre" [allowSorting]="false"></dxi-column>
            <dxi-column dataField="precio" caption="Precio" [allowSorting]="false"></dxi-column>
            <dxi-column dataField="marca" caption="Marca" [allowSorting]="false"></dxi-column>
            <dxi-column dataField="tipo" caption="Tipo" [allowSorting]="false"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'" class="image-wrapper">
                <img class="product-img" [src]="data.value" width="120px" alt="Imagen del producto" />
            </div>

        </dx-data-grid>
    </div>
</div>