<form [formGroup]="registerForm">
    <div class="modal-producto">
        <h2>Crear nuevo producto</h2>

        <div class="campo-formulario">
            <label for="">Nombre:</label>
            <input type="text" formControlName="nombre">
        </div>

        <div class="campo-formulario">
            <label for="">Precio:</label>
            <input type="number" formControlName="precio">
        </div>

        <div class="campo-formulario">
            <label for="">Marca:</label>
            <input type="text" formControlName="marca">
        </div>

        <div class="campo-formulario">
            <label for="">Tipo:</label>
            <input type="text" formControlName="tipo">
        </div>
        <div class="campo-formulario">
            <label for="">Imagen:</label>
            <input type="file" (change)="recibirImagen($event)">
        </div>

        <div class="acciones">
            <button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
            <button class="btn-guardar" (click)="cerrar()">Guardar</button>
        </div>
    </div>
</form>